.reviews-container{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.review-slider {
    border-radius: 15px;
    border: 1px solid rgba(2,3,52,.05);
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
    height: 400px;
  }
  .content-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 20px;
  }
  
  .review-slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    padding: 0 20px;
    z-index: 1;
  }
  
  .review-slider button:first-child {
    left: -37px;
  }
  
  .review-slider button:last-child {
    right: -37px;
  }
  .review-slider button {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: none;
    color: aliceblue;
    font-size: 15px;
    transition-duration: 0.8s;
  }
  
  .review-slider button:first-child:hover, .review-slider button:last-child:hover{
    color: white;
    background-color: #d63384;
  }
  .review-img,.review-img img{
    width: 230px;
    height: 260px;
   
  }
  .review-content{
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }
  .name{
    font-weight: bolder;
  }
  .student,.opinion{
    color: #5b5f64;
  }
  .opinion{
    font-size: 20px;
    font-weight: lighter;
  }
  .student{
    font-size: 16px;
  }


  .review-slider:hover:not(button) button {
    border: 2px solid #efefef;
    background-color: white;
    color:#00306e;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  