.nav-container{
  width: 100%;
  

}
.contact-nav{
    width: 100%;
    height: 40px ;
    background-color: #00306E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.phone-email{
    
    color: white;
    padding: 5px 0;
    font-size: 14px;
}                     
ul{
    display: flex;
    gap: 19px;
    list-style: none;
    
    
    
}
.social{
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: aliceblue;

}
.nav-options{
    display: flex;
    flex-wrap: wrap;
	  list-style: none;
	  margin: 0;
	  padding-left: 0;
    cursor: pointer;
}
.nav-options li{
    
	display: block;
	float: left;
	padding: 1rem;
	position: relative;

}
.nav-options li .sub-dropdown{
  display: none;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  left: 0;
 
}
.nav-options li:hover >.sub-dropdown{
    background-color:white;
    width: 190px;
    opacity: 1;
    display: flex;
    flex-direction: column;

}
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.nav-options li span{
  position: absolute;
  top: 11px;
  right:6px;
}

.social img{
    width: 25px;
    height: 25px;
    image-rendering: optimizeQuality;
}

